.benefits {
  padding: 23px 18px 46px;
  background-color: $base-color;
}

.benefits__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.benefits__title {
  margin-top: 8px;
  margin-bottom: 16px;
}

.benefits__text {
  margin: 0;
}

.benefits__wrapper {
  margin-bottom: 25px;

  &--last-type {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-size) {
  .benefits {
    padding: 0;
  }

  .benefits__list {
    display: flex;
    flex-direction: row;
  }

  .benefits__items {
    width: calc(100% / 3);
    padding: 158px 33px 60px;
    text-align: center;
  }

  .benefits__title {
    margin: 0;
    margin-bottom: 23px;
  }

  .benefits__wrapper {
    margin: 0;
  }
}
