.benefits {
  padding: 23px 18px 46px 65px;
  background-color: $base-color;
}

.benefits__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.benefits__title {
  margin-top: 8px;
  margin-bottom: 16px;
}

.benefits__text {
  margin: 0;
}

.benefits__wrapper {
  margin-bottom: 33px;
  position: relative;

  &--last-type {
    margin-bottom: 0;
  }

  &--house::before {
    content: "";
    position: absolute;
    background-image: url("/img/house.svg");
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    left: -47px;
    top: -8px;
  }

  &--burger::before {
    content: "";
    position: absolute;
    background-image: url("/img/burger.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: contain;
    left: -47px;
    top: -8px;
  }

  &--souvenirs::before {
    content: "";
    position: absolute;
    background-image: url("/img/present.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: contain;
    left: -47px;
    top: -8px;
  }
}

@media (min-width: $tablet-size) {
  .benefits {
    padding: 0;
  }

  .benefits__list {
    display: flex;
    flex-direction: row;
  }

  .benefits__items {
    width: calc(100% / 3);
    padding: 158px 33px 60px;
    text-align: center;
  }

  .benefits__title {
    margin: 0;
    margin-bottom: 23px;
  }

  .benefits__wrapper {
    margin: 0;

    &--house::before {
      content: "";
      width: 77px;
      height: 72px;
      left: 50%;
      top: -98px;
      transform: translateX(-50%);
    }

    &--burger::before {
      content: "";
      width: 83px;
      height: 67px;
      top: -96px;
      left: 50%;
      transform: translateX(-50%);
    }

    &--souvenirs::before {
      content: "";
      width: 67px;
      height: 75px;
      left: 51%;
      transform: translateX(-50%);
      top: -95px;
    }
  }
}

@media (min-width: $desktop-size) {
  .benefits__items {
    width: calc(100% / 3);
    padding: 169px 50px 70px;
    text-align: center;
  }

  .benefits__wrapper {
    &--house::before {
      content: "";
      position: absolute;
      background-image: url("/img/house.svg");
      width: 81px;
      height: 73px;
      background-size: contain;
      top: -101px;
    }

    &--burger::before {
      content: "";
      position: absolute;
      background-image: url("/img/burger.svg");
      width: 79px;
      height: 67px;
      background-size: contain;
      top: -95px;
      left: 49%;
    }

    &--souvenirs::before {
      content: "";
      position: absolute;
      background-image: url("/img/present.svg");
      width: 78px;
      height: 75px;
      background-size: contain;
      top: -100px;
    }
  }
}
