.button {
  background-color: $base-color-blue;
  border: none;
  //height: 58px;
}

.button__link {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: $base-color;
  padding: 18px 0 16px;
  width: 100%;
}
