.container {
  text-align: center;
  padding-top: 36px;
  padding-bottom: 28px;
  border-bottom: 1px solid $decor-grey;
}

.container__title {
  margin-bottom: 24px;
}

.container__text {
  margin: 0;
}


@media (min-width: $tablet-size) {
  .container {
    padding-top: 66px;
    padding-bottom: 64px;
    width: 458px;
    margin: 0 auto;
    border: none;
  }

  .container__title {
    margin-bottom: 31px;
    font-size: 30px;
  }
}


@media (min-width: $desktop-size) {
  .container {
    padding-top: 100px;
  }
}
