.feedback {
  padding-left: 20px;
  padding-right: 20px;
}


.feedback__button {
  width: 280px;
}

.feedback__extra {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #333333;
  text-align: right;
}
