.feedback {
  padding: 0 20px;
}


.feedback__button {
  width: 280px;
}

.feedback__extra {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: $extra-text;
  text-align: right;
}

@media (min-width: $tablet-size) {
  .feedback {
    padding: 0 60px;
  }

  .feedback__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .feedback__button {
    width: 324px;
  }

  .feedback__extra {
    font-size: 14px;
  }
}


@media (min-width: $desktop-size) {
  .feedback {
    padding: 0 120px;
  }
}
