.footer__container {
  padding: 33px 83px;
}

.footer__hashtag {
  text-decoration: none;
  text-align: center;
}

.footer__hashtag-text {
  font-size: 21px;
  font-weight: 700px;
  color: #000000;
  margin: 0;
  margin-bottom: 30px;
}

.footer {
  background-color: $base-color;
}

.footer__social {
  margin-bottom: 30px;
}

.footer__development {
  display: flex;
  flex-direction: row;
  width: 129px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $tablet-size) {
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 60px;
    align-items: center;
  }

  .footer__hashtag-text {
    margin: 0;
  }

  .footer__development {
    margin: 0;
    width: 230px;
  }

  .footer__logo {
    width: 37px;
  }

  .footer__social {
    margin: 0;
  }
}


@media (min-width: $desktop-size) {
  .footer__container {
    padding: 36px 120px;
  }

  .footer__development {
    margin: 0;
    width: 129px;
  }
}
