.footer__container {
  padding: 36px 82px 23px;
}

.footer__hashtag {
  text-decoration: none;
  text-align: center;
}

.footer__hashtag-text {
  font-size: 21px;
  font-weight: 700;
  color: $black;
  margin: 0;
  margin-bottom: 32px;
}

.footer {
  background-color: $base-color;
}

.footer__social {
  margin-bottom: 30px;
}

.footer__logo-html {
  fill: $black;
}

.footer__development {
  display: flex;
  width: 129px;
  justify-content: space-between;
  align-items: center;
  margin: 23px auto 0;
  text-decoration: none;
  color: $black;

  &:hover {
    color: $blue-mark;

    .footer__logo-html {
      fill: $blue-mark;
    }
  }

  &:active {
    color: $active-link;

    .footer__logo-html {
      fill: $active-link;
    }
  }
}

@media (min-width: $tablet-size) {
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 60px;
    align-items: center;
  }

  .footer__hashtag-text {
    margin: 0;
  }

  .footer__development {
    margin: 0;
  }

  .footer__social {
    margin: 0;
  }
}

@media (min-width: $desktop-size) {
  .footer__container {
    padding: 36px 120px;
  }

  .footer__development {
    margin: 0;
    width: 129px;
  }
}
