.form__container {
  padding-top: 24px;
  padding-bottom: 39px;
  border-bottom: 1px solid #e5e5e5;

  &--radio {
    padding-bottom: 24px;
  }

  &--check {
    padding-bottom: 24px;
  }

  &:last-of-type {
    border: none;
  }
}

.form__legend {
  text-align: center;
  margin-bottom: 20px;
}

.form__label {
  margin-left: 16px;
}

.form__input {
  width: 280px;
  background-color: $light-grey;
  border: none;
  padding: 16px;
  font-weight: 700;
  font-size: 18px;
}

.form__list {
  @include list-reset;
}

.form__item {
  display: flex;
  flex-direction: column;
}

.form__item:not(:last-child) {
  margin-bottom: 16px;
}

.form__selector:not(:last-child) {
  margin-bottom: 16px;
}

.form__selector-label {
  display: flex;
  align-items: center;

  @include large-print;
  text-transform: none;
}

.form__selector-custom {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 46px;
  background-color: $light-grey;
  border-radius: 50%;
  margin-right: 16px;
}

.form__selector-indicator {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.form__selector-custom::before {
  content: "";
  display: none;
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.form__selector-indicator:checked + .form__selector-custom::before {
  display: block;
}

.form__checkbox-custom {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background-color: #f2f2f2;
  margin-right: 16px;
}


.form__checkbox {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.form__checkbox-custom::before {
  content: "";
  display: none;
  background-image: url("../../img/icons/tick.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 22px;
  height: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.form__checkbox:checked + .form__checkbox-custom::before {
  display: block;
}

.form__container--review {
  padding-bottom: 22px;
}

.form__review {
  display: block;
  border: none;
  background-color: $light-grey;

  &::placeholder {
    color: rgba($color: #000000, $alpha: 0.3);
  }

  @include large-print;
  width: 100%;
  height: 150px;
  outline: none;
  resize: none;
  margin-bottom: 56px;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-size) {
  .form__wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 44px;
    justify-content: space-between;
  }

  .form__container {
    padding: 0;
    border: none;

    &--name {
      position: relative;
      width: 295px;
    }

    &--name::after {
      content: "";
      position: absolute;
      width: 338px;
      height: 1px;
      transform: rotate(90deg);
      background-color: $decor-grey;
      transform-origin: right;
      bottom: -12px;
      left: -10px;
    }

    &--info {
      width: 295px;
    }

    &--radio {
      padding-top: 63px;
      padding-bottom: 0;
    }

    &--checkbox {
      padding-bottom: 36px;
      padding-top: 48px;
    }

    &--review {
      padding-bottom: 64px;
    }
  }

  .form__legend {
    margin-bottom: 28px;
    width: 100%;
    position: relative;

    &--fixed {
      display: inline-block;
      width: 300px;
    }

    &--impression::before,
    &--sights::before,
    &--review::before {
      position: absolute;
      content: "";
      height: 1px;
      width: 123px;
      background: $decor-grey;
      top: 50%;
      left: 0;
    }

    &--impression::after,
    &--sights::after,
    &--review::after {
      position: absolute;
      content: "";
      height: 1px;
      width: 123px;
      background: $decor-grey;
      top: 50%;
      right: 0;
    }
  }

  .form__review {
    margin-bottom: 48px;
  }

  .form__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &--radio {
      padding: 0 36px;
    }

    &--checkbox {
      padding: 0 84px;
    }
  }

  .form__selector {
    width: 50%;
  }

  .form__input {
    width: 295px;
  }
}

@media (min-width: $desktop-size) {
  .form__list--radio {
    padding: 17px 53px;
  }

  .form__list--checkbox {
    padding: 31px 44.5px;
  }

  .form__selector {
    width: 32.33%;

    &:last-child {
      width: 238px;
    }

    &:not(:last-child) {
      margin: 0;
      margin-right: 28px;
    }
  }

  .form__container {
    padding-top: 56px;

    &--name {
      width: 430px;
    }

    &--info {
      width: 430px;
    }

    &--name::after {
      left: 143px;
    }
  }

  .form__sights {
    flex-wrap: nowrap;
    justify-content: space-between;

    .form__selector {
      width: auto;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .form__input {
    width: 430px;
  }

  .form__legend {
    &--impression::before,
    &--sights::before,
    &--review::before {
      width: 280px;
    }

    &--impression::after,
    &--sights::after,
    &--review::after {
      width: 280px;
    }
  }
}
