.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  align-items: center;
  z-index: 10;
  justify-content: center;

  &--closed {
    display: none;
  }
}

.modal__body {
  width: 320px;
  background-color: $base-color;

  &--error {
    padding: 45px 42px 35px 41px;
  }
}

.modal__wrap {
  padding: 39px 38px 56px;
}

.modal__button-review {
  width: 280px;
}

.modal__title {
  margin: 0;
}

.modal__text {
  margin-top: 25px;
  margin-bottom: 28px;

  &--send {
    margin-bottom: 0;
  }
}

.modal__review-frame {
  background-color: $light-grey;
  min-height: 98px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.modal__button-error {
  width: 180px;
}

@media (min-width: $tablet-size) {
  .modal__body--error {
    width: 400px;
    padding: 54px 47px 49px;
  }

  .modal__body--success {
    width: 640px;
    margin: 0 auto;
  }

  .modal__title {
    font-size: 30px;
    line-height: 40px;
    padding: 0 35px;
  }

  .modal__button-error {
    width: 272px;
    padding: 18.5px 0 13.5px;
    line-height: 26px;
  }

  .modal__button-review {
    width: 458px;
  }

  .modal__wrap {
    padding: 53px 98px 30px;
  }

  .modal__review-frame {
    background-color: $light-grey;
    width: 640px;
    height: 146px;
  }

  .modal__text {
    margin-top: 22px;
    margin-bottom: 42px;

    &--send {
      margin: 29px 0 17px;
    }
  }
}
