.modal {
  text-align: center;
  //position: absolute;
}

.modal__error {
  width: 320px;
  padding: 45px 42px 35px 41px;
  background-color: $base-color;
}

.modal__title {
  margin: 0;
}

.modal__text {
  margin-top: 24px;
  margin-bottom: 28px;
}

.modal__button-error {
  width: 180px;
}

.modal__button {
  font-size: 18px;
}

.modal__review {
  padding-left: 37px;
  padding-right: 39px;
  padding-top: 36px;
}

.modal__review-button {
  display: block;
  width: 280px;
  margin: 20px auto;
}

.modal__review-frame {
  display: inline-block;
  background-color: $light-grey;
  width: 320px;
  height: 98px;
}

@media (min-width: $tablet-size) {
  .modal {
    width: 640px;
    height: 347px;
  }

  .modal__error {
    width: 400px;
    padding: 50px 47px;
  }

  .modal__title {
    font-size: 30px;
    padding: 0 35px;
  }

  .modal__button-error {
    width: 272px;
  }

  .modal__review {
    width: 444px;
    margin: 0 auto;
  }

  .modal__review-button {
    display: block;
    width: 458px;
    margin: 44px auto;
  }

  .modal__review-frame {
    display: inline-block;
    background-color: $light-grey;
    width: 640px;
    height: 146px;
  }
}
