.nav__toggle {
  width: 23px;
  height: 22px;
  border: none;
  padding: 0;
  background-image: url("../../img/icons/icon-menu.svg");
  background-color: $base-color;
}

.nav__list {
  @include list-reset;
  background-color: $base-color-blue;
}

.nav__item {
  text-align: center;
  padding-top: 17px;
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.nav__link {
  text-decoration: none;
  color: $base-color;

  @include text-title;
}

@media (min-width: $tablet-size) {
  .nav__list {
    display: flex;
    flex-direction: row;
    background-color: $base-color;
  }

  .nav__item {
    width: calc(100% / 5);
    border: none;
  }

  .nav__link {
    font-size: 14px;
    color: $black;

    &--brown {
      color: $first-item;
    }
  }

  .nav__item:nth-child(2n):not(:nth-child(4n)) {
    margin-right: calc(100% / 5);
  }

  .nav__toggle {
    display: none;
  }
}
