.nav {
  width: 320px;
  min-height: 56px;
  position: relative;
}

.nav__list {
  flex-direction: column;

  @include list-reset;
}

.nav__item {
  text-align: center;
  padding-top: 17px;
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: $base-color-blue;
}

.nav__link {
  text-decoration: none;
  color: $base-color;

  @include text-title;
}

.nav__button {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 16px;
  right: 14px;
  z-index: 2;
  cursor: pointer;
}

.nav__button-close {
  fill: $base-color;

  &:hover {
    fill: rgba(225, 225, 225, 0.6);
  }

  &:active {
    fill: rgba(225, 225, 225, 0.3);
  }
}

.nav__button-open {
  fill: $blue-mark;

  &:hover {
    fill: rgba(129, 179, 210, 0.6);
  }

  &:active {
    fill: rgba(129, 179, 210, 0.3);
  }
}

@media (max-width: $mobile-size) {
  .nav__list {
    display: none;
  }

  .nav__item {
    display: block;

    &:hover {
      background-color: $hover-button;
    }

    &:active {
      background-color: $active-button;

      & .nav__link {
        color: rgba(225, 225, 225, 0.3);
      }
    }
  }

  .nav--nojs .nav__list {
    display: block;
  }

  .nav--nojs .main-header__logo {
    display: block;
    width: 185px;
    margin: 0 auto;
    position: static;
    left: unset;
    transform: unset;
  }

  .nav__menu--opened .nav__list {
    position: absolute;
    display: flex;
    width: 320px;
  }

  .nav__menu--opened .nav__button--close {
    display: block;
  }

  .nav__menu--opened .main-header__logo {
    display: none;
  }

  .nav__menu--opened .nav__button--open {
    display: none;
  }

  .nav--nojs .nav__toggle {
    display: none;
  }

  .nav--nojs .nav__button--close {
    display: none;
  }
}

@media (min-width: $tablet-size) {
  .nav {
    position: relative;
    width: 768px;
  }

  .nav__button {
    display: none;
  }

  .nav__list {
    display: flex;
    flex-direction: row;
    background-color: $base-color;
  }

  .nav__item {
    width: calc(100% / 5);
    border: none;
    padding: 18px 0 17px;
    background-color: unset;
  }

  .nav__link {
    font-size: 14px;
    color: $black;
    line-height: 21px;

    &--brown {
      color: $first-item;
    }

    &:hover:not(.nav__link--brown) {
      color: $blue-mark;
    }

    &:active:not(.nav__link--brown) {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  .nav__item:nth-child(2n):not(:nth-child(4n)) {
    margin-right: calc(100% / 5);
  }

  .nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-size) {
  .nav {
    width: 1200px;
  }
}
