.nav {
  width: 320px;
  top: 0;
  left: 0;
}

.nav__list {
  @include list-reset;
  background-color: $base-color-blue;
}

.nav__item {
  text-align: center;
  padding-top: 17px;
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.nav__link {
  text-decoration: none;
  color: $base-color;

  @include text-title;
}

.nav__button {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 2;
}

@media (max-width: $mobile-size) {
  .nav__menu-bar {
    height: 56px;
  }

  .nav__button--close {
    z-index: 20;
  }

  .nav__menu--closed .nav__list {
    display: none;
  }

  .nav__menu--closed .nav__button--close {
    display: none;
  }

  .nav__menu--opened .nav__list {
    position: absolute;
    display: block;
    width: 320px;
    z-index: 10;
  }

  .nav__menu--opened .main-header__logo {
    display: none;
  }

  .nav__menu {
    position: relative;
    height: 56px;
  }

  .nav__menu--nojs .nav__button--close {
    display: none;
  }
}

@media (min-width: $tablet-size) {
  .nav {
    position: relative;
    width: 768px;
  }

  .nav__button {
    display: none;
  }

  .nav__list {
    display: flex;
    flex-direction: row;
    background-color: $base-color;
  }

  .nav__item {
    width: calc(100% / 5);
    border: none;
  }

  .nav__link {
    font-size: 14px;
    color: $black;

    &--brown {
      color: $first-item;
    }
  }

  .nav__item:nth-child(2n):not(:nth-child(4n)) {
    margin-right: calc(100% / 5);
  }

  .nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-size) {
  .nav {
    width: 1200px;
  }
}
