.poster {
  background: url("../../img/photo/back-mobile.png") no-repeat;
  background-color: $base-color;
  height: 390px;
  padding-top: 90px;
  text-align: center;

  &--form {
    background-image: url("../../img/photo/back-desktop.png");
    height: 158px;
    padding-top: 50px;
    background-size: cover;
  }
}
