.poster {
  background-image: url("../img/icons/intro-triangle.svg"), url("../img/photo/back-mobile.jpg");
  background-repeat: no-repeat no-repeat;
  background-color: $base-color;
  background-position: bottom, center top;
  background-size: cover;
  padding: 90px 0 85px;
  text-align: center;

  &--form {
    background-image: url("../img/photo/back-desktop.jpg");
    height: 158px;
    padding-top: 50px;
    background-size: cover;
  }
}

@media (min-resolution: 2dppx) {
  .poster {
    background-image: url("../img/icons/intro-triangle.svg"), url("../img/photo/back-mobile@2x.jpg");
  }
}

@media (min-width: $tablet-size) {
  .poster {
    padding: 77px 0 91px;
    background-image: url("../img/icons/intro-triangle-tablet.svg"), url("../img/photo/back-tablet.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: contain, cover;

    &--form {
      height: 290px;
      padding: 95px 0 117px;
    }
  }

  .poster__text {
    width: 461px;
    height: 350px;

    &--form {
      width: 456px;
      height: 77px;
    }
  }

  @media (min-resolution: 2dppx) {
    .poster {
      background-image: url("../img/icons/intro-triangle-tablet.svg"), url("../img/photo/back-tablet@2x.jpg");
    }
  }
}


@media (min-width: $desktop-size) {
  .poster {
    background-image: url("../img/icons/intro-triangle-desktop.svg"), url("../img/photo/back-desktop.jpg");
    background-repeat: no-repeat;
  }

  .poster--form {
    height: 301px;
    padding: 101px 0 120px;
  }

  @media (min-resolution: 2dppx) {
    .poster {
      background-image: url("../img/icons/intro-triangle-desktop.svg"), url("../img/photo/back-desktop@2x.jpg");
    }
  }
}
