.poster {
  background: url("../img/photo/back-mobile.png") no-repeat;
  background-color: $base-color;
  padding: 90px 0 85px;
  text-align: center;

  &--form {
    background-image: url("../img/photo/back-desktop.jpg");
    height: 158px;
    padding-top: 50px;
    background-size: cover;
  }
}


@media (min-width: $tablet-size) {
  .poster {
    padding: 77px 0 91px;
    background: url("../img/photo/back-desktop.jpg") no-repeat;
    background-size: cover;

    &--form {
      height: 290px;
      padding: 95px 0 117px;
    }
  }

  .poster__text {
    width: 461px;
    height: 350px;

    &--form {
      width: 456px;
      height: 77px;
    }
  }
}


@media (min-width: $desktop-size) {
  .poster--form {
    height: 301px;
    padding: 101px 0 120px;
  }
}
