.reasons__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.reasons__img {
  display: block;
}

.reasons__description {
  text-align: center;
  padding: 34px 18px;
  background-color: $base-color;
}

.reasons__description-title {
  margin-bottom: 35px;
  padding: 0 6px;
}

.reasons__description-text {
  margin: 0;
}

.reasons__container {
  padding: 38px 18px 37px;
  text-align: center;
  background-color: $reasons-grey;

  &--grey {
    border-bottom: 1px solid $border-grey;
    padding: 25px 33px;
  }

  &--blue {
    background-color: $base-color-blue;
    color: $base-color;
  }

  &--triangle {
    background-image: url("/img/triangle-02.svg");
    background-repeat: no-repeat;
    background-position-y: -19px;
    padding-top: 53px;
    padding-bottom: 40px;
  }
}

.reasons__title {
  margin-bottom: 11px;
}

.reasons__text {
  margin: 0;
  margin-top: 16px;
}


@media (min-width: $tablet-size) {
  .reasons__description {
    width: 520px;
    margin: 0 auto;
    padding: 47.5px 0 55.5px;
  }

  .reasons__description-title {
    font-size: 21px;
    margin-bottom: 30px;
  }

  .reasons__container {
    width: 256px;

    &--grey {
      border: none;
      padding: 41px 33px;
    }

    &--triangle {
      background-image: none;
    }

    &--blue {
      padding: 52px 33px 31px;
    }

    &--revert {
      order: 2;
    }
  }

  .reasons__item {
    display: flex;
    flex-wrap: wrap;
  }

  .reasons__pic {
    width: calc(100% - 256px);
  }

  .reasons__text {
    margin-top: 23px;

    &--fourth {
      margin: 24px 6px 0;
    }
  }

  .reasons__title {
    padding: 0 20px;
    margin-bottom: 13px;
  }
}

@media (min-width: $desktop-size) {
  .reasons__container {
    width: 400px;
    padding: 52px 50px;

    &--triangle {
      background-image: none;
    }
  }

  .reasons__text {
    margin-top: 23px;

    &--second {
      margin: 24px 34px 0;
    }
  }

  .reasons__pic {
    width: 800px;
  }

  .reasons__title {
    padding: 0 75px;
  }

  .reasons__description {
    padding: 60px 0 45px;
  }

  .reasons__description-title {
    margin-bottom: 28px;
  }
}
