.search-container {
  padding: 38px 18px 49px;
  text-align: center;
  background-color: $base-color;
}

.search-container__title {
  font-size: 21px;
  margin: 0;
  margin-bottom: 20px;
}

.search-container__text {
  margin: 0;
  margin-bottom: 32px;
}

.search__button {
  width: 284px;
}

@media (min-width: $tablet-size) {
  .search-container {
    padding: 60px 155px 55px;
  }

  .search-container__title {
    font-size: 30px;
    margin-bottom: 28px;
  }

  .search-container__text {
    margin: 0;
    margin-bottom: 45px;
  }
}
