.search-container {
  padding-top: 38px;
  padding-bottom: 49px;
  text-align: center;
}

.search-container__title {
  font-size: 21px;
  margin: 0;
  margin-bottom: 20px;
}

.search-container__text {
  margin: 0;
  margin-bottom: 32px;
}

.search__button {
  width: 284px;
}
