.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include list-reset;
  width: 156px;
  margin: 0 auto;
}

.social__item {
  background-color: $base-color-blue;
  width: 48px;
  height: 48px;
  position: relative;

  &:disabled {
    background-color: $decor-grey;
  }

  &:hover {
    background-color: $hover-button;
  }

  &:active {
    background-color: $active-button;

    & .social__icons {
      fill: rgba(255, 255, 255, 0.3);
    }
  }
}

.social__link {
  display: flex;
  width: 100%;
  height: 100%;
}

.social__icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  fill: $base-color;
}
