.visually-hidden {
  position: absolute;
  border: 0;
  padding: 0;
  display: none;
}

.page-titles {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-size) {
  .page-titles {
    font-size: 21px;
  }
}
