.visually-hidden {
  position: absolute;
  border: 0;
  padding: 0;
  display: none;
}

.page-titles {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.pseudo-cat {
  background-image: url("../../img/catalog-mobile.png");
  position: absolute;
  width: 320px;
  height: 2686px;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 20;

  @media (min-width: $tablet-size) {
    background-image: url("../img/tablet-cat.png");
    width: 768px;
    height: 2672px;
  }

  @media (min-width: $desktop-size) {
    background-image: url("../img/desktop-cat.png");
    width: 1280px;
    height: 2262px;
  }
}

.pseudo {
  background-image: url("../../img/mobile-pixelperfect.png");
  position: absolute;
  width: 320px;
  z-index: 30;
  height: 3387px;
  left: 0;
  opacity: 0.5;

  @media (min-width: $tablet-size) {
    background-image: url("../img/tablet-pixelperfect.png");
    width: 768px;
    height: 2666px;
  }

  @media (min-width: $desktop-size) {
    background-image: url("../img/desktop.png");
    width: 1280px;
    height: 2679px;
  }
}

@media (min-width: $tablet-size) {
  .page-titles {
    font-size: 21px;
  }
}
